<style>
 p {
  font-family: Georgia, 'Times New Roman', Times, serif;
 }

 label {
  font-family: 'Times New Roman', Times, serif;
 }
</style>


<section class="h-100 gradient-form" style="background-color: #eee;">
  <link rel="stylesheet" href="style.css">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="logo2.png"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The App Staff</h4>
                </div>

                <form action="/login" method="post">
                  <p>Please login to your account</p>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="email" name="email" class="form-control"
                      placeholder="Phone number or email address" />
                    <label class="form-label" for="form2Example11">Email</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="password" name="password" class="form-control" />
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg" style="background-color: green;" type="submit">Log
                      in</button>
                  </div>


                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center" style="background-color: #5EABD6;">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">"We are not just an ordinary application. We are a real step toward simplifying the management of your company's employee data."</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>